@model IEnumerable<the_law.Models.law>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .search-input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 250px
    }

    .search-button {
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<h3 class="text-center">Danh sách luật</h3>

<form method="get">
    <p>
        @Html.TextBox("search", ViewBag.CurrentFilter as string, new { @class = "search-input", placeholder = "Nhập tên luật hoặc nội dung..." })
        <input type="submit" value="Tìm kiếm" class="search-button" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            Điều
        </th>
        <th>
            Tên luật
        </th>
        <th>
            Xem chi tiết
        </th>
        <th>
            action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            Điều @Html.DisplayFor(modelItem => item.dieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ten)
        </td>
        <td>
            @Html.ActionLink("Xem chi tiết", "Details", new { id=item.id }) 
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.id }) | 
            @Html.ActionLink("Xóa", "Delete", new { id=item.id })
        </td>

    </tr>
}

</table>
